<div class="container mx-auto mb-8">
  
  <header class="py-5 md:py-10">
    <h1 class="mat-display-2 text-center">
      <span class="block mb-3 lg:inline lg:mb-0">🎯</span>
      Game Browser
    </h1>
  </header>
  
  <main>
    
    <app-search-form></app-search-form>
    
    <hr class="mb-8">
    
    <app-game-list></app-game-list>
    
  </main>
  
  <footer>
    <hr class="mb-8">
    <h2 class="mat-display-2 face">🧑🏽</h2>
    <h5 class="mat-display-1 made-by">
      Made by
      <a mat-button color="accent" class="mat-display-1" href="#">Edward Angeles</a>
    </h5>
  </footer>
  
</div>